{% extends "layout.html" %}
	{% block title %}Search{% endblock %}
	{% block content %}
	
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				
				<form method="post" action="{{url_for('results')}}">
						
					<div class="form-group">
						<label for="inputage">Input</label>
						<input class="form-control" name="SearchQuery" type="text" placeholder="Keywords" />
					</div>
							
					<div class="form-group">
						<label for="inputnumber">Search By</label>
						<input class="form-control" name="Category" type="text" placeholder="ID,Location,Availabilty,Specialisation,Fee or Rating Only"></input>
					</div>
							
					<button type="submit" class="btn btn-success">Submit</button>
							
				</form>
				
			</div>
		</div>
		
	{% endblock %}
		